<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Annotated Images</title>
</head>
<body>
    <h1>Annotated Images</h1>
    <div>
        {% for image in images %}
            <div>
                <img src="{{ url_for('static', filename='output_images/' ~ image) }}" alt="{{ image }}" width="500">
            </div>
            <br>
        {% endfor %}
    </div>
    <a href="/">Go Back</a>
</body>
</html>
